header {
    color: #ffffff;
    background-color: #333;
}

body {
    background-image: url(https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg);
    background-size: cover;
}

main {
    background-color: #e5e5e5;
    border-width: 4px;
    border-color: #1c1a1d;
    border-style: outset;
}

.box1 {
    background-color: #169436;
    width: 300px;
    height: 64px;
    border: solid 2px #1c1a1d;
}

.box2 {
    width: 300px;
    height: 64px;
    border: solid 2px #1c1a1d;
    background-image: linear-gradient(to left, #2c2c2d, #f64348);
}

.box3 {
    width: 300px;
    height: 64px;
    background-color: #0077ff;
    border: 2px solid #1c1a1d;
    border-radius: 8px;
}