* {
    padding: 0;
    margin: 0;
   }

header {
    text-align: center;
    font-size: 1.125rem;
    border-bottom: 1px solid #030308;
    padding: 2rem ;
}


h1,h1{
    font-family: serif;
    font-weight: 400;
}

h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature, .catalog, .cta {
    font-size: 1.125rem;
    padding: 2rem;
    text-align: center;
}

.cta-button {
    background-color: #030308;
    border-radius: 9999px;
    color: #fff;
    display: block;
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
}

.genres > li {
    display: inline-block;
    margin-top: 2rem;
}

.genres > li + li {
    margin-left: 1rem;
    margin-top: 1rem;
}

.genre > a,
.see-more > a {
    background-color: #43abf6;
    border-radius: 9999px;
    color: #fff;
    display: inline-block;
    padding: 1rem 1.5rem;
    text-decoration: none;
}

.see-more > a {
    background-color: #030308;
    text-transform: uppercase;
}

footer {
    background-color: #030308;
    color: #fff;
    font-family: "Lora", serif;
    padding: 2rem;
    text-align: center;}