/*Seletor Universal*/

*{
    margin: 0;
    padding: 0;
}

/*Seletor de tag*/
header, footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/*Seletor de elementos aninhados*/

nav a{
    color: #27ae60;
}

/*Seletor de filhos*/
nav > a{
    display: block;
    color: #ff9100;
    padding: 10px;
}
    
/*Seletor de Classes*/

.laranja{
    color: #ff9100;
    display: block;
    padding: 10px;
}

.verde{
    color: #27ae60;
    display: block;
    padding: 10px;
}

/*Seletor de id*/
#secao-principal{
        padding: 20px;
    text-align: center;
} 

/*Combinação de Seletores*/
#secao-principal > *{
    margin-top: 10px;
}

input{
    display: block;
    padding: 5px;
    margin: 5px;   
}

/*Seletor de seuência*/

input + input{
margin-top: 30px;
margin-bottom: 30px;
}

/*Seletores de propriedades*/
input[name="email"]{
background-color: #ff9100;

}

input[type="password"]{
    background-color: #27ae60;

}