header {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

h1 {
    font-family: sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

p {
    font-family: sans-serif
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}