*{
    margin: 0;
    padding: 0;
}

section{
    height: 100px;
    background-color:#ddd;
}

header{
    background-color: #232323;
    color: #ffffff;
    padding: 10px;
}

.box{
    border: #232323 solid 1px;
    display: inline-block ;
    margin-top: 20px;
    width: 75px;
}

.px{
    height: 10px;
}

.rem{
    height: 3rem;
}

.em{
    height: 2em;
}

.prcnt-33{
    height: 33%;
}

.prcnt-66{
    height: 66%;
}

.prcnt-100{
    height: 100%;
}

/*viewport height*/

.vh{
height: 30vh;
}

/*viewport width*/
.vw{
width: 50vw;
}